<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>数据中心</title>
    <link rel="stylesheet" href="/static/css/element-ui@2.4.11.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/vue@2.5.21.min.js"></script>
    <script src="/static/js/element-ui@2.4.11.js"></script>
    <script src="/static/js/axios@0.18.0.min.js"></script>
</head>

<body>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-header style="text-align: left; font-size: 24px">
         <span>数据中心</span>
        </el-header>
    <el-container>

            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>数据库</template>
                    {% for table in tables %}
                        <el-menu-item index="1-{{ loop.index }}"
                                      @click="getTableData('{{ table }}')">{{ table }}</el-menu-item>
                    {% endfor %}

                </el-submenu>

            </el-menu>
        </el-aside>


        <el-container style="border: 1px solid #eee">
            <el-main>

                <el-table :data=tableData border>

                <template v-for='(title, index) in tableTitle'>
                  <el-table-column
                    :show-overflow-tooltip="true"
                    :prop="title"
                    :label="title"
                    :key="index"
                    width="">
                  </el-table-column>
                </template>

            <el-table-column label="编辑">
            <template slot-scope="scope">
　　　　　　<el-button type="primary" @click="" size="small">编辑</el-button>
                　</template>　
            </el-table-column>
                <el-table-column label="删除">
            <template slot-scope="scope">
　　　　　　<el-button type="danger" @click="" size="small">删除</el-button>
            　</template>
               </el-table-column>
                </el-table>

            </el-main>

        </el-container>
     </el-container>

    </el-container>

</div>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            tableData: [],
            tableTitle: []
        },
        methods: {
            getTableData: function (table) {
                // 类似get方式提交
                axios.get("/getTableData", {
                    params: {
                        table: table
                    }
                }).then((response) => {
                    this.tableData = response.data.items;
                    this.tableTitle = response.data.titles;
                    this.$message.success(response.data.message)
            })
            }
        }

    })

</script>
</body>

</html>